<form>
    <div class="form-group">
      <label for="inputDescription">Description</label>
      <input type="text" class="form-control" id="inputDescription" placeholder="i.e. Beers, Treats, Chinese Takeout.." required>
    </div>

    <div class="form-group">
        <label for="inputType">Type</label>
        <select id="inputType" class="form-control" (change)="dropdownToggleCheck($event.target.value, 'type')">
            <option selected>Option</option>
            <option>Other</option>
          </select>
        <input type="text" class="form-control" [ngClass]="{'display': typeManual }" id="inputType-manual" placeholder="What kind of purchase was it?">
      </div>
      
      <div class="form-group">
          <label for="inputLocation">Location</label>
          <select id="inputLocation" class="form-control" (change)="dropdownToggleCheck($event.target.value, 'location')">
              <option selected>Option</option>
              <option>Other</option>
            </select>
          <input *ngIf="!locationManual" type="text" class="form-control" [ngClass]="{'display': locationManual }" id="inputLocation-manual" placeholder="Where was it purchased?">
        </div>

      <div class="form-row">
        <div class="form-group col-xs-6">
          <label for="inputCost">£</label>
          <input type="text" class="form-control" id="inputCost">
        </div>
        <div class="form-group col-xs-6">
          <label for="inputDate">Date</label>
          <select id="inputDate" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>            
      </div>

      <button type="submit" class="btn btn-success">Add Transaction</button>
    </form>