<!-- Month Controller  -->
<app-month-view-control (onViewChange)="monthViewChange($event)"></app-month-view-control>
<!-- Dashboard -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-12">
                                <p>
                                    <div id="total-remaining" counto [step]="45" [countTo]="dashboardData.fundsLeft" [countFrom]="0" [duration]="2" (countoChange)="counto = $event">
                                        {{counto | currency:'GBP':"symbol":'1.2-2'}}
                                    </div>                                                       
                        </div>
                        <div class="col-xs-12">
                            <p class="remainingText">Remaining</p>
                        </div>
                    </div>
                    <div class="footer">
                        <hr />
                        <div class="stats">
                            £{{dashboardData.fundsLeft.toFixed(2)}} remaining
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Quick Add  -->
        <div class="container-fluid" id="quickAdd-container">
            <div class="row">
                <div class="col-xs-12" id="quickAddBtn" (click)="toggle()">
                    <img src="../../assets/img/add-btn.png" width="36" height="36"> Quick Add</div>
            </div>
            <div class="row">
                <div class="slidedown-container" [@toggle]="state">
                    <form [formGroup]="quickAddForm" (ngSubmit)="submitForm()">
                        <!-- Type -->
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <div class="form-group">
                                    <label>Type</label>
                                    <mat-form-field class="material-block">
                                        <input type="text" class="form-control border-input" matInput formControlName="type" [matAutocomplete]="autoType">
                                        <mat-autocomplete #autoType="matAutocomplete">
                                            <mat-option *ngFor="let option of types_dropdown" [value]="option">
                                                {{ option }}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <!-- Location -->
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <div class="form-group">
                                    <label>Location</label>
                                    <mat-form-field class="material-block">
                                        <input type="text" class="form-control border-input" matInput formControlName="location" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete">
                                            <mat-option *ngFor="let option of location_dropdown" [value]="option">
                                                {{ option }}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>

                        <!-- Description -->
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <div class="form-group">
                                    <label>Description</label>
                                    <input type="text" class="form-control border-input" placeholder="Short Description" formControlName="description">
                                </div>
                            </div>
                        </div>

                        <!-- Date/Cost -->
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-1">
                                <div class="form-group">
                                    <label>Cost</label>
                                    <input type="text" class="form-control border-input" placeholder="£" formControlName="cost">
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label>Date</label>
                                    <mat-form-field class="material-block">
                                        <input matInput [matDatepicker]="picker" (click)="picker.open()" class="form-control border-input datepicker-align" formControlName="date">
                                        <mat-datepicker touchUi="true" #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>


                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">Add Transaction</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Last 5 Transactions -->
        <div class="container-fluid" id="last5Transactions-container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card card-plain">
                        <div class="header">
                            <h4 class="title">Last 5 Transactions</h4>
                            <!-- <p class="category"></p> -->
                        </div>
                        <div class="col-xs-12">
                            <div class="card transaction-card">
                                <div class="content">
                                    <div class="row transaction-entry" *ngFor="let trans of dashboardData.last5Transactions">
                                        <div class="col-xs-12 col-sm-4">
                                            {{trans.type}}
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <i class="ti-location-arrow"></i> {{trans.location}}
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            <i class="ti-calendar"></i> {{trans.timestamp}}
                                        </div>

                                        <div class="col-xs-12 col-sm-4">
                                            <i class="ti-pencil-alt"></i> {{trans.description}}
                                        </div>
                                        <div class="col-xs-12 col-sm-6 transaction-cost">
                                            £{{trans.cost.toFixed(2)}}
                                        </div>
                                    </div>
                                    <div class="notransactions" *ngIf="dashboardData.last5Transactions.length == 0">
                                        <h3>No transactions recorded.</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>