/* Override paper styles */
.main-panel > .content {

}

/* Custom CSS */
#total-remaining {
  font-size: 4em;
  text-align: center;
}
.remainingText {
  text-align: center;
  margin-right: -230px;
  margin-top: -20px;
}
.transaction-card {
  font-size: 1.2em;
}

#last5Transactions-container .title {
  font-size: 1.8em;
  padding-bottom: 10px;
}

.slidedown-container {
  overflow: hidden;
}
.material-block {
  display:block !important;
}
.material-block input {
  background-color: #fffcf5 !important;
}

.quickAddForm-error {
  border: 2px solid red;
}
.mat-form-field-infix {
  border-top: 0 !important;
  padding: 0 !important;
  padding-bottom: 2px !important;
}
.main-panel {
  overflow-x: hidden !important;
}
.transaction-entry {
  border-bottom: 2px solid #e2e2e2;
  padding: 10px;
}
.slidedown-container > form {
  background-color: #fff;
  border-top: 2px solid #d2d0cb;
  border-bottom: 2px solid #d2d0cb;
  padding: 20px 0;
}
#quickAddBtn {
  padding: 10px;
}

/* Month Controls */
#month-control {
  font-size: 1.5em;
  padding-bottom: 10px;
}
#next-month-btn {
  text-align: right;
  padding: 5px 30px;
}
#month-display {
  text-align: center;
  padding: 5px 30px;
}
#prev-month-btn {
  padding: 5px 30px;
}