/* You can add global styles to this file, and also import other style files */
#total-remaining {
  font-size: 4em;
  text-align: center;
}
.remainingText {
  text-align: center;
  margin-right: -230px;
  margin-top: -20px;
}
.transaction-card {
  font-size: 1.2em;
}

#last5Transactions-container .title {
  font-size: 1.8em;
  padding-bottom: 10px;
}

.slidedown-container {
  overflow: hidden;
}
.material-block {
  display:block !important;
}
.material-block input {
  background-color: #fffcf5 !important;
}

.quickAddForm-error {
  border: 2px solid red;
}